# Text files
*.md text eol=lf
*.txt text eol=crlf
*.xml text eol=lf
*.iss text eol=crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bas text eol=crlf
*.frm text eol=crlf
*.csv text eol=lf

# Binary Office/build assets
*.dotm binary
*.docm binary
*.exe binary
*.png binary
*.pdf binary
*.ico binary
